* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
nav {
  height: 150px;
  border-bottom: 2px solid gray;
}
nav li a {
  color: #f25d33;
  font-weight: bold;
}
.logo-img {
  background-color: rebeccapurple;
  position: absolute;
  top: 10px;
  left: 5vw;
  width: 30vw;
}
.sidebar {
  position: fixed;
  z-index: 1;
  top: 150px;
  left: 1vw;
  overflow-x: hidden;
  min-width: 160px;
  width: 15vw;
  display: flex;
  flex-direction: column;
}
.filters {
  color: black;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid gray;
}

.content-sec {
  margin-left: 16vw;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.text-content {
  width: 30vw;
  min-width: 300px;
}
.main-image {
  background-image: url("/images/main_image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 350px;
  min-height: 450px;
  width: 40vw;
  height: 35vw;
}
.form-area {
  background-color: orange;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5vw;
  justify-content: space-around;
}
.img-part {
  display: flex;
  flex-wrap: wrap;
}
.price {
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
}
.single-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.single-page img {
  width: 40vw;
  min-width: 350px;
}
.single-page-info {
  border: 1px solid red;
  width: 40vw;
  min-width: 350px;
}
.image-merken {
  font-weight: 700;
  color: #46444a;
  font-size: 35px !important;
  padding-top: 10%;
}
.image-price {
  border: 1px red solid;
  font-size: 1.5rem;
  font-weight: 700;
}
.product-order {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
}
.button-meer {
  background-color: #f25d33;
  color: white;
  border-radius: 10px;
}
.fas {
  color: #f25d33;
}
@media screen and (max-width: 950px) {
  .sidebar {
    display: flex;
    justify-content: center;
    width: 100%;
    position: unset;
  }
  .filters {
    padding: 10px;

    width: 100%;
    text-align: center;
  }
  .content-sec {
    margin-left: 1vw;
  }
  .main-image {
    display: none;
  }
  .text-content {
    width: 100%;
  }
  label {
    margin-left: 40%;
  }
}
